{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "WebSocketClient": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "debug"
        ]
      }
    ]
  }
}
